.main_edit_form{
    background-image: linear-gradient(rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.3)),url('../../assets/foret_fantasy_2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}