

/* Le composant WarningDelete */

.myModal_warning_delete{
    @include center_column_flex_display;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    
    h1 {
        font-size: 50px;
        white-space: nowrap;
    }

}



.warning_delete {
    border: white 1px solid;
    padding : 3%;
    // font-family: $Dancing_script;

    .answer_yes_no {
        @include space_row_flex_display;
        align-items: center;
        height: 100%;
        font-size: 35px;

        p{
            cursor: pointer;
            color: $color_text;
        }
    }
}


.hidden_warning_delete {
    display: none;
}